<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HighTech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="Home" aria-current="page">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ordinateur
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="PcPortable">PC Portable</a></li>
            <li><a class="dropdown-item" routerLink="PcBureau">PC de Bureau</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="PcAccessoires">Accessoires</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdow2n" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Telephones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdow2n">
            <li><a class="dropdown-item" routerLink="Smartphone">Smartphone</a></li>
            <li><a class="dropdown-item" routerLink="TelephoneFix">Telephones Fixes</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="TelephoneAccessoire">Accessoires</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdow3n" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stockage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdow3n">
            <li><a class="dropdown-item" routerLink="CleUsb">Clés usb</a></li>
            <li><a class="dropdown-item" routerLink="DisqueDur"> Disques durs </a></li>
            <li><hr class="dropdown-divider"> </li>
            <li><a class="dropdown-item" routerLink="StockageAccessoire">Accessoires de stockage</a></li>
          </ul>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link active" routerLink="Gestion" aria-current="page">Ajouter un article</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a *ngIf="!isLoggedIn" class="nav-link btn btn-info text-white" routerLink="Connexion">Connexion</a>
          <a *ngIf="isLoggedIn" class="nav-link btn btn-danger text-white" (click)="SignOut()">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
