<div class="container" style="height: 100px;width: 500px">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/asus.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/bureau.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/galxay.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>
